@media screen and (min-width:600px){
    body{
        display: grid;
    }
    header{
        display: flex;
        justify-content:right;
        padding: 0 10px;
        background-color: black;
    }
    header nav{
        position: fixed;
        display: flex;
        flex-direction: row;
        width: fit-content;
        height:fit-content;
        background-image: none;
    }
    header nav a{
        font-size: 120%;
        text-shadow: 0 1px 5px black;
    }
    header nav a:hover{
        transition: 1s all;
        transform: scale(1.2);
        font-weight: bolder;

    }
    #icon-menu{
        display: none;
    }
    
    #home{
        position:static;
        display: flex;
        flex-direction: row-reverse;
        max-width:100vw;
        background-image: linear-gradient(to bottom,var(--purpleDark-color),var(--purpleDark-color), var(--goldLight-color));
    }
    #home article{
        position: relative;
        flex-grow: 1;
        text-align: center;
        font-size: 4vw;
        z-index: 20;
    }
    #home .welcome{
        position: absolute;
        top: 15%;
        left: 35%;
        transform:none;
    }
    #home h1{
        position: absolute;
        transform:none;
        top: 30%;
        left: 45%;
        font-size:2.5vw;
    }
    #home span{
        font-size: 7vw;
        text-shadow: 10p 0 0 var(--gold-color);
        color: var(--orangeColor);
    }
    #home .devH2{
        position: absolute;
        display:flex;
        transform:none;
        font-size: 2.5vw;
        top: 47%;
        left: 55%;
    }
   
    @keyframes dinamicWeb {
        0%{
            transform: rotate(45deg);
        }
        100%{
            transform: rotate(95deg);
        }
       
    }
    #home .dinamicWeb{
        animation: dinamicWeb 2s infinite alternate ease-in-out;
        position: absolute;
        right: -15%;
        top: -15%;
        width: 10%;
        margin-top: 25px;
        text-align: right;
        color: var(--orangeColor);
        /* transform: rotate(10deg); */
    }

    @keyframes imgMove {
        0%{
            border-radius: 30% 10% 30% 10%;
        }
        100%{
            border-radius:10% 30% 10% 30%;
        }
    }
    #home > img{
        animation: imgMove 4s infinite alternate ease-in-out;
     
    }
    #home .iconesWeb{
        position: absolute;
        top: 70%;
        left: 50%;
        transform:none;
    }
    #home .iconesWeb img{
        width: auto;
        margin: 0 10px;

    }

        
    }
 
