/* Configuration General */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    /* --gray-color:; */
    --purpleDark-color:#643576;
    --gold-color: #fed352;
    --black-color:#000000;
    --begeDark-color:#332C24;
}
html{
    scroll-behavior:smooth;
}
body{
   
    background-color:var(--purpleDark-color);
    color:white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

/* ------------Dark styles----------------------------------- */
.bodyLight{
    background-color: white;
    color: black;
}
.isLight{
    background-color: white;
    color: black;
}
main{
    flex-grow: 1;
}
/* Header setting */
header{
    display: flex;
    justify-content: center;
}
header nav{
   display: flex;
   position: fixed;
   flex-direction: column;
   width:fit-content;
   right: -100%;
   top:10%;
   background-color: var(--gold-color);
   color: var(--purpleDark-color);
   border-radius: 10px;
   z-index: 20;
}
.active-menu{
    right: 0%;
    top:10%;
}
header nav a{
    flex: 0 1 auto;
    text-decoration: none;
    font-weight: bolder;
    margin:15px 20px;
    font-size: 150%;
    /* position: absolute; */
}
   
#dark-light{
    color: inherit;
    background-color: inherit;
    border: none;
    font-size: 110%;
}
#icon-menu{
    position:fixed;
    padding: 3px;
    top: 0%;
    right: 0px;
    transform: rotate(0deg);
    width:clamp(20px,20%,40px);
}

section{
    min-height:100vh;
}
#home{
    background-image: linear-gradient(to bottom,var(--purpleDark-color), var(--gold-color),var(--purpleDark-color));
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
#home .welcome{
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 6vw;
    z-index: 10;
}
#home h1{
    position: absolute;
    top: 32%;
    left: 45%;
    font-size: 6vw;
    z-index: 10;
}
#home span{
    color: var(--purpleDark-color);
    text-shadow: 0px 0px 5px var(--purpleDark-color);
}
#home h2{
    position: absolute;
    font-size: 3vw;
    top: 50%;
}
#home img{
    position: absolute;
    left: 10%;
    max-width:clamp(300px,30%,400px);
    height: auto;
    border-radius: 30% 10% 30% 10%;
    box-shadow: 0px 5px 0px 10px #fed352;
}



