/* Configuration General */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --gray-color:#999999;
    --grayDark-color:#4D4D4D;
    --brown-color:#4D2A05;
    --black-color:#000000;
    --begeDark-color:#332C24;
}
html{
    scroll-behavior:smooth;
}
body{
    background-color:var(--grayDark-color);
    color:var(--gray-color);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

/* ------------Dark styles----------------------------------- */
.bodyLight{
    background-color: white;
    color: black;
}
.isLight{
    background-color: white;
    color: black;
}
main{
    flex-grow: 1;
}
/* Header setting */
header{
    display: flex;
    justify-content: center;
}
header nav{
   display: flex;
   position: fixed;
   flex-direction: column;
   width:fit-content;
   right: -100%;
   top:10%;
   background-color: var(--begeDark-color);
   border-radius: 10px;
}
.active-menu{
    right: 0%;
    top:10%;
}
header nav a{
    flex: 0 1 auto;
    text-decoration: none;
    color: white;
    margin:15px 20px;
    font-size: 150%;
    /* position: absolute; */
}
   
#dark-light{
    color: inherit;
    background-color: inherit;
    border: none;
    font-size: 110%;
}
#icon-menu{
    position:fixed;
    padding: 3px;
    top: 0%;
    right: 0px;
    transform: rotate(0deg);
    width:clamp(20px,20%,40px);
}

section{
    min-height:100vh;
}
#home{
    animation: textmove infinite ease-in ;
    color: white;
    
}
@keyframes  {
    
}



