/* Configuration General */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --gray-color:#999999;
    --grayDark-color:#4D4D4D;
    --brown-color:#4D2A05;
    --black-color:#000000;
    --begeDark-color:#332C24;
}
html{
    scroll-behavior:smooth;
}
body{
    background-color:var(--grayDark-color);
    color:var(--gray-color);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
/* Header setting */
header{
    display: flex;
    justify-content: center;
   border: 1px solid white;
}
header nav{
   display: flex;
   flex-direction: column;
   width:fit-content;
   height: fit-content;
   position: absolute;
   top: -100%;

}
header nav a{
    text-decoration: none;
    color: white;
    margin:10px;
    /* position: absolute; */
    /* top: -100%; */
}
header nav a:hover{

}
#icon-menu{
    position:absolute;
    right:10px;
    width:clamp(20px,20%,40px);
}
.no
section{
    min-height:100vh;
}
#home{
    display: flex;
    justify-content: space-between;
}
#home article{

}
#home picture{
    
}
@media screen and (min-width:600px) {
    header{
        display: flex;
        justify-content:right;
        padding: 10px;
    }
    header nav{
        display: flex;
        flex-direction: row;
    }
    #icon-menu{
        display: none;
    }
}

