@media screen and (min-width:600px){
    header{
        display: flex;
        justify-content:right;
        padding: 10px;
    }
    header nav{
        display: flex;
        flex-direction: row;
        top: 0% !important;
    }
    header nav a{
        font-size: 100%;
    }
    #icon-menu{
        display: none;
    }
    
}
